<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Page title -->
    <!-- build:remove -->
      <title>[Dev] Lego Ipsum</title>
    <!-- /build -->
    <!-- build:template
      <title><%= title %></title>
    /build -->

    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">    
    <meta name="description" content="">

    <!-- Font import(s) -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic">

    <!-- Stylesheet(s) -->
    <!-- build:remove -->
      <link rel="stylesheet" href="./css/styles.css">
    <!-- /build -->
    <!-- build:template
      <link rel="stylesheet" href="./dist/css/<%= filename %>.min.css">
    /build -->

    <!-- Favicons -->

  </head>
  <body>

    <header>
      <h1>
        <!-- build:remove -->
        [Dev] Lego Ipsum
        <!-- /build -->
        <!-- build:template
          <%= title %>
        /build -->
      </h1>
    </header>

    <section>
      <h2>Lego Ipsum phrase(s)</h2>
      <p lego-ipsum="phrase" lego-ipsum-count="1" lego-ipsum-format></p>
    </section>

    <section>
      <h2>Lego Ipsum sentence(s)</h2>
      <p lego-ipsum="sentence" lego-ipsum-count="1"></p>
    </section>

    <section>
      <h2>Lego Ipsum paragraph(s)</h2>
      <p lego-ipsum="paragraph" lego-ipsum-count="1"></p>
    </section>

    <section>
      <h2>Lego Ipsum minifig(s)</h2>
      <div lego-ipsum="image" lego-ipsum-count="5" class="minifig-container"></div>

      <!-- build:remove -->
        <p style="text-align: center">
          <small>
            <a href="./minifig-test.html">View all available minifigs</a>
          </small>
        </p>        
      <!-- /build -->
      
    </section>

    <!-- Script(s) -->
    <!-- build:remove -->
      <script src="./js/constructor.js" data-minifig-path="./img/figs/"></script>
      <script src="./js/static.js"></script>
      <script src="./js/staticOverrides.js"></script>
      <script src="./js/words.js"></script>
      <script src="./js/randomInt.js"></script>
      <script src="./js/createText.js"></script>
      <script src="./js/createLegoIpsum.js"></script>
      <script src="./js/jQuery.js"></script>
      <script src="./js/declarativeApi.js"></script>
    <!-- /build -->
    <!-- build:template
      <script src="./dist/js/<%= filename %>.min.js" data-minifig-path="./dist/img/figs/"></script>
    /build -->

  </body>
</html>
