<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Page title -->
    <!-- build:remove -->
      <title>[Dev] Lego Ipsum</title>
    <!-- /build -->
    <!-- build:template
      <title><%= title %></title>
    /build -->

    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">    
    <meta name="description" content="">

    <!-- Font import(s) -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic">

    <!-- Stylesheet(s) -->
    <!-- build:remove -->
      <link rel="stylesheet" href="./css/styles.css">
    <!-- /build -->
    <!-- build:template
      <link rel="stylesheet" href="./dist/css/<%= filename %>.min.css">
    /build -->

    <!-- Favicons -->

  </head>
  <body>

    <h1>
      <!-- build:remove -->
      [Dev] Lego Ipsum
      <!-- /build -->
      <!-- build:template
        <%= title %>
      /build -->
    </h1>

    <div id="lego-ipsum"></div>

    <img id="lego-figsum" src="" width="100" height="100">

    <!-- Script(s) -->
    <!-- build:remove -->
      <script src="./js/constructor.js"></script>
      <script src="./js/static.js"></script>
      <script src="./js/words.js"></script>
      <script src="./js/randomInt.js"></script>
      <script src="./js/createText.js"></script>
      <script src="./js/createLegoIpsum.js"></script>
      <script src="./js/jQuery.js"></script>
    <!-- /build -->
    <!-- build:template
      <script src="./dist/js/<%= filename %>.min.js"></script>
    /build -->

    <script>
      window.onload = function () {
        /**
         * Populate div with two paragraphs of Lego Ipsum text
         */
        var legoIpsum = new LegoIpsum;
        legoIpsum.type = LegoIpsum.TEXT;
        legoIpsum.query = '2p';
        legoIpsum.createLegoIpsum(document.getElementById('lego-ipsum'));

        /**
         * Populate image with random sports-based pixelipsum image
         * TODO create minifig-ipsum version of this
         */
        var legoFigsum = new LegoIpsum;
        legoFigsum.type = LegoIpsum.IMAGE;
        legoFigsum.query = 'sports';
        legoFigsum.createLegoIpsum(document.getElementById('lego-figsum'));
      };
    </script>

  </body>
</html>
